/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 1.5rem;
  background-color: #f3faff;
  border: 1px solid #7fc1ff;
  border-radius: 8px;
  padding-left: 4px;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2rem;
}
.blog-post-meta {
  margin-bottom: 1rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

aside .p-4 {
  background-color:#E9EAE1 !important;
  margin-bottom: 1rem;
}

#avatarka {
  border-radius: 50%;
  border: 1px solid gray;
}

#nav-category {
  background-color: #EDEEE5;
  font-weight: 500;
}

#tuda, #suda {
  width: 100px;
  font-weight: 700;
}

#header {
  background-image: url("../img/bg-page.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

#template-post-meta {
  border-bottom: 1px solid #c0c4c7 !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0.2rem !important;
  margin-left: 0.1rem !important;
  margin-bottom: 0.2rem !important;
}

a.btn {
  margin-right: 0.8rem;
  font-weight: normal;
  font-size: 0.9rem;
  color: black;
  background-color: whitesmoke;
}

.logout {
  margin-right: 0.8rem;
}

.user {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

#block-article-head {
  padding-left: 0px;
  margin-left: 0.05rem;
  border-color: gray;
  padding-bottom: 0.05rem !important;
}

#site_search_form {
  margin-top: 0.5rem;
}

#search_input {
  width: 80%;
  text-align: center;
  border: 1px solid rgb(80, 79, 79);
  border-radius: 5px;
  font-size: 16px;
  color: rgb(77, 75, 75);
}

#search_button {
  width: 16%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border: 1px solid rgb(80, 79, 79);
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: rgb(43, 42, 42);
}

.groups-block-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-style: italic;
  white-space: pre;
}

.groups-block-header h4 {
  margin: 2px;
}

.groups-block-header a {
  line-height: 2;
}

/*header back*/
.design {
  background: bottom url("../img/categories/design.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: #343a40 !important;
  text-shadow: white 1px 1px 0;
}

.games {
  background: bottom url("../img/categories/games.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: white !important;
  text-shadow: black 1px 1px 0;
}

.music {
  background: bottom url("../img/categories/music.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: rgb(16, 16, 114) !important;
  text-shadow: palevioletred 1px 1px 0;
}

.programming {
  background: bottom url("../img/categories/programming.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: rgb(7, 7, 43) !important;
  text-shadow: rgb(146, 214, 180) 2px 2px 0;
}

.web {
  background: right url("../img/categories/web.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: rgb(7, 7, 43) !important;
  text-shadow: rgb(231, 231, 231) 2px 2px 0;
}

.security {
  background: bottom url("../img/categories/security.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: white !important;
  text-shadow: rgb(20, 94, 63) 1px 1px 0;
}

.science {
  background: right url("../img/categories/science.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: white !important;
  text-shadow: black 1px 1px 0;
}

.sport {
  background: right url("../img/categories/sport.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: #343a40 !important;
  text-shadow: rgb(213, 245, 99) 2px 2px 0;
}

.world {
  background: right 50% url("../img/categories/world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow !important;
  text-shadow: rgb(58, 52, 52) 2px 2px 0;
}

.self {
  background: right url("../img/categories/self.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  color: white !important;
  text-shadow: black 3px 1px 0;
}

.reviews {
  background: right url("../img/categories/reviews.svg");
  background-repeat: repeat-x;
  background-size: contain;
  color: white !important;
  text-shadow: black 1px 1px 0;
}

.guides {
  background: bottom url("../img/categories/guides.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  text-shadow: black 2px 1px 0;
}