form {
    font-weight: 700;
}

.card {
    margin-bottom: 1rem;
}

.card-body {
    margin-left: 0.1rem;
}

#input-avatar-div {
    margin-left: 0.05rem;
}

#input-avatar-div button {
    margin-right: 0.5rem;
}

#input-avatar-div input {
    margin-right: 0.8rem;
}

.card-body img {
    width: 100px;
    height: 100px;
    padding: 2px;
    border: 1px solid black;
}

.group-header {
    padding-left: 2px;
}

.group-avatar {
    font-size: 14px;
    font-weight: normal;
    padding: 1px;
    margin: 4px;
    border: 1px solid rgb(224, 222, 222);
    width: 56px;
    height: 56px;
}