form {
    font-weight: 700;
}

.card {
    margin-bottom: 1rem;
}

.card-body {
    margin-left: 0.1rem;
}

#input-avatar-div {
    margin-left: 0.05rem;
}

#input-avatar-div button {
    margin-right: 0.5rem;
}

#input-avatar-div input {
    margin-right: 0.8rem;
}

.card-body img {
    width: 100px;
    height: 100px;
    padding: 2px;
    border: 1px solid black;
}

.group-header {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
}

.group-avatar {
    font-size: 14px;
    font-weight: normal;
    padding: 1px;
    margin: 4px;
    border: 1px solid rgb(224, 222, 222);
    width: 56px;
    height: 56px;
}

.modal-link {
    font-size: small;
    text-decoration: underline;
    padding: 2px !important;
    padding-bottom: none !important;
}

.group-enter-form {
    line-height: normal;
    font-size: 16px;
}

.enter-btn {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #007bff;
    text-decoration: underline;
    padding: 0px;
}

.search-user {
    width: 46%;
    text-align: center;
    border: 1px solid rgb(129, 126, 126);
    border-radius: 5px;
    font-size: 16px;
    color: rgb(77, 75, 75);
}

.partitipant, .pending-user, .user-objs {
    display: flex;
    flex-direction: row;
}

.partitipant:last-child, .pending-user:last-child {
    border-bottom: none !important;
}

.user-objs:hover {
    background-color: #dce8f1;
}

.users {
    overflow-y: scroll;
    margin-top: 18px;
    border: 1px solid #dee2e6;
}

.pending-list p, .users-list p {
    margin-bottom: 2px;
}

.pending-users {
    overflow-y: auto;
    max-height: 19rem;
}

.pending-user-name, .pending-user-created, .user-name, .user-created {
    font-weight: normal;
}

.pending-user div.actions button, .user-objs div.actions button {
    margin-top: 0.8rem;
    margin-left: 1rem;
}