form {
    font-weight: 700;
}

.card {
    margin-bottom: 1rem;
}

.card-body {
    margin-left: 0.1rem;
}

#input-avatar-div {
    margin-left: 0.05rem;
}

#input-avatar-div button {
    margin-right: 0.5rem;
}

#input-avatar-div input {
    margin-right: 0.8rem;
}

.card-body img {
    width: 100px;
    height: 100px;
    padding: 2px;
    border: 1px solid black;
}

.card-header {
    font-weight: 700;
    font-style: italic;
    font-size: x-large;
    text-transform: uppercase;
}

.home-table {
    font-size: 0.95rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
}

.home-table td, .home-table th {
    border: 1px solid gray;
    padding-left: 0.15rem;
}

tr td:nth-child(3), tr th:nth-child(3) {
    width: 30px;
}

#table-form {
    font-weight: 400;
}