.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.chat-block {
  height: 30rem !important;
}

.chat-block h4 {
  border-bottom: 1px solid #c0c4c7 !important;
}

.chat-field {
  height: 18rem !important;
  background-color: white !important;
  border: 1px solid #c0c4c7 !important;
  overflow-y: scroll;
  padding: 2px;
}

.chat-message {
  padding-bottom: 2px;
  margin-bottom: 8px;
  line-height: 1;
}

.chat-message:hover {
  background-color: #dce8f1;
}

.chat-message p {
  margin-bottom: 0px;
  word-wrap: break-word;
  white-space: pre-line;
}

.msg-info {
  margin-bottom: 2px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.chat-message p span {
  font-weight: bold;
}

.chat-message p span.name {
  font-size: initial;
  color: #63696e;
}

.chat-message p span.time {
  margin-top: 2px;
  font-size: small !important;
  font-weight: normal;
  font-size: initial;
  color: #63696e;
}

.chat-message p span.red {
  color: red;
}

.chat-message p span.blue {
  color: blue;
}

.chat-form-block {
  padding: 2px;
  margin-top: 0.7rem;
  height: 6.7rem !important;
  border: 1px solid #c0c4c7 !important;
}

.chat-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.chat-form textarea {
  height: 5rem;
  width: 100%;
  overflow-y: auto;
  resize: none;
}

.chat-form button {
  width: 5rem;
  margin-top: 0.1rem;
  line-height: 0.8rem;
  padding: 1px !important;
  font-size: small !important;
}