#block-header {
    background-image: url("../img/bg-partnership.svg");
    text-shadow: black 1px 1px 0;
  }

.postBody {
  margin-bottom: 0.1rem !important;
}

.readWhole {
  margin-top: -16px;
  margin-bottom: 6px;
  color: #666666;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

.blog-post-title a {
  color: #333333 !important;
  font-family: 'Colibri';
  font-weight: bolder;
}

.header-img img {
  max-width: 200px;
  max-height: 250px;
}

#block-head {
  padding: 0 !important;
}
